.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 30;
}
.DeleteModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px; /* Adjust width as needed */
  text-align: center;
  z-index: 30;
}

.DeleteModal p {
  /* font-size: 18px; */
  font-weight: bold;
  margin: 0 0 10px 0;
  text-align: left;
}

.DeleteModal span {
  text-align: left;
  display: block;
  margin-bottom: 17px;
  color: #888; /* Light gray for less emphasis */
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.buttonContainer button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonContainer button:first-child {
  background-color: #f0f0f0; /* Cancel button */
  color: #333;
}

.buttonContainer button:last-child {
  background-color: #d9534f; /* Delete button */
  color: white;
}
.send {
  background-color: #53634b !important;
}
